<link rel="import" href="../polymer/polymer.html">
<!--
`power-vr`
Declarative wrapper for webVR API

@demo demo/index.html
-->

<dom-module id="power-vr">
  <script>
    Polymer({

      is: 'power-vr',

      properties: {
        isLoadedPolyfill: {
          type: Boolean,
          value: false,
        }
      }

    });
  </script>
</dom-module>
